// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Contribute:
$c-darkgreen: #072227;
$c-green: #35858B;
$c-lightgreen: #4FBDBA;
$c-red: #db445D;

//Contribute-new
$c-bluegreen: #43aab1;
$c-orange: #ff9c63;
$c-yellow: #ffef72;
$c-lightbluegreen: #4fbdba;
$c-turquoise: #6fffe9;
