<% if cause == Event::EVENT_CAUSES[0] %>
  <div class="checkbox-causes-index" data-controller="cause-display-index">
    <i class="fa-solid fa-child icons-index" data-action="mouseover->cause-display-index#revealContent mouseout->cause-display-index#hideContent"></i>
    <p class="cause-description-index d-none" data-cause-display-index-target="description">Jeunesse</p>
  </div>
<% end %>

<% if cause == Event::EVENT_CAUSES[1] %>
  <div class="checkbox-causes-index" data-controller="cause-display-index">
    <i class="fa-solid fa-seedling icons-index" data-action="mouseover->cause-display-index#revealContent mouseout->cause-display-index#hideContent"></i>
    <p class="cause-description-index d-none" data-cause-display-index-target="description">Environnement</p>
  </div>
<% end %>

<% if cause == Event::EVENT_CAUSES[2] %>
  <div class="checkbox-causes-index" data-controller="cause-display-index">
    <i class="fa-solid fa-book icons-index" data-action="mouseover->cause-display-index#revealContent mouseout->cause-display-index#hideContent"></i>
    <p class="cause-description-index d-none" data-cause-display-index-target="description">Transmission des savoirs</p>
  </div>
<% end %>

<% if cause == Event::EVENT_CAUSES[3] %>
  <div class="checkbox-causes-index" data-controller="cause-display-index">
    <i class="fa-solid fa-scale-balanced icons-index" data-action="mouseover->cause-display-index#revealContent mouseout->cause-display-index#hideContent"></i>
    <p class="cause-description-index d-none" data-cause-display-index-target="description">Egalité</p>
  </div>
<% end %>

<% if cause == Event::EVENT_CAUSES[4] %>
  <div class="checkbox-causes-index" data-controller="cause-display-index">
    <i class="fa-solid fa-heart-pulse icons-index" data-action="mouseover->cause-display-index#revealContent mouseout->cause-display-index#hideContent"></i>
    <p class="cause-description-index d-none" data-cause-display-index-target="description">Prévention<br> & Santé</p>
  </div>
<% end %>

<% if cause == Event::EVENT_CAUSES[5] %>
  <div class="checkbox-causes-index" data-controller="cause-display-index">
    <i class="fa-solid fa-house-chimney-user icons-index" data-action="mouseover->cause-display-index#revealContent mouseout->cause-display-index#hideContent"></i>
    <p class="cause-description-index d-none" data-cause-display-index-target="description">Pauvreté & Isolement</p>
  </div>
<% end %>
