<div class="banner" >
   <div class="banner_header">
      <div class="align-items-cente firstcolumnheader">
        <div class="w-100 text-white">
          <h1 id="home-title" class="pb-5">Offrons de notre <span id="time-title">temps</span></h1>
          <%= render 'shared/search-form' %>
          <%= link_to 'Tous les évènements à venir !', events_path, class:'btn btn-primary' %>
        </div>
      </div>
      <div class="secondcolumnheader">
        <img src="https://res.cloudinary.com/dlwr1bikm/image/upload/v1646320991/6660v2_tkfnue.png" alt="Header image">
      </div>
  </div>
</div>
