<form action="" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">Où?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Localisation" name="query">
      </div>
      <div class="search-element">
        <label class="search-label">Quand?</label>
        <input class="search-input" type="text" placeholder="Date, Horaires" class="" autocomplete="on" name="location">
      </div>
      <a type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
</form>
