<%= render 'shared/video-banner' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
