.banner-show {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 40vh;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
}

.banner-show p {
  font-size: 18px;
  color: white;
  text-align: center;
  & > .time-title {
    background-color: $c-bluegreen;
    padding: 5px;
    font-weight: 600;
  }
}
