.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $c-bluegreen;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $c-lightbluegreen;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-orange {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $c-orange;
  transition: opacity 0.3s ease;
}

.btn-orange:hover {
  opacity: 0.7;
  color: white;
}
