.chatroom {

  p {
    text-align: right
  }
  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 50%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    width: 100%;
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
      height: 40%;
    }
  }

  .btn-primary {
    flex-grow: 0.2;
    height: fit-content;
  }

  .modal-footer {
    border-top: none;
    height: fit-content;
  }
}

.message_content {
  margin-bottom: 0px !important;
}

#message_content {
  height: 100% !important;
}

.modal-content {
  border-radius: 12px;
}
