  .home-banner {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  .home-banner video {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .home-banner .container {
    position: relative;
    z-index: 2;
  }

  .home-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
  }

  #home-title {
    font-size: 3.5rem;
    font-weight: 300;
    & > #time-title {
      background-color: $c-bluegreen;
      padding: 5px;
      font-weight: 600;
    }
  }

  /* Media Query for devices withi coarse pointers and no hover functionality */

  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

  @media (pointer: coarse) and (hover: none) {
    .home-banner {
      background: url('https://res.cloudinary.com/dlwr1bikm/image/upload/v1646074454/development/pexels-thirdman-7656743_flhatn.jpg') black no-repeat center center scroll;
      background-size: cover;
      background-position: center;
    }

    .home-banner video {
      display: none;
    }
  }
