.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.space-navbar {
  height:80px;
}

//CLASSIQUE

.navbar-lewagon-classique {
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon-classique  .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-classique  .navbar-brand img {
  width: 40px;
}
