.pros {
  position: relative;
}
.prospection-plus {
  position: absolute;
    font-size: 13px;
    width: 32px;
    height: 32px;
    padding: 8px 8px;
    top: -11px;
    left: -10px;
    border-radius: 50%;
    background-color: $c-orange;
}
