.pros {
  position: relative;
}
.prospection-plus {
  position: absolute;
    font-size: 15px;
    width: 42px;
    height: 42px;
    padding: 13px 13px;
    top: -11px;
    left: -10px;
    border-radius: 50%;
    background-color: $c-orange;
    transition: background 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: $c-bluegreen;
      color: white;
    }
}
