.search-index {
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
}

.index-container {
  padding: 0 26px;
}

.form-range {
  width: 80%;
}

 .searchindexelements {
  border-right: 1px solid rgba(10, 10, 10, 0.1);

 }

 .distancecounter {
  font-style: italic;
 }

 .icons-index {
  color: white;
    font-size: 22px;
    background-color: $c-lightbluegreen;
    padding: 10px 9px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
  &:hover {
    background-color: $c-turquoise;
  }
 }
